---
title: Witt Allen 💾
---

<!doctype html>
<html lang="en">
<div class="row">
    <div class="col-12"><!-- Header -->
        <header></header>
    </div>
</div>
  <head>
    {% include "head.html"%}
    <title>{{ title }}</title>
    <style>{% include "style.css" %}</style>
  </head>
  <body>
    {# {% include "navbar.html" %} #}
    <div class="row">
        <div class="col-3"></div>
          <div class="col-6 center">
            <div class="center-block">
              {{ content | safe }}

              </div>
            </div>
          <div class="col-3"></div>
        </div>
        <div class="row">
          <div class="col-3"></div>
            <div class="col-6">
              <ul class="navbar">
                
              </ul>
            </div>
          <div class="col-3"></div>
      </div>
  </body>
  {% include "footer.html"%}
</html>