name: Deploy Zola CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/workflows/accessibility.yml
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Get latest run ID
        id: get-blog-posts-run
        run: |
          RUN_ID=$(gh api \
            repos/wittionary/obsidian-vaults/actions/workflows/package-blog-posts.yml/runs \
            -q '.workflow_runs[0].id')
          echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.BLOG_POST_READER_TOKEN }}

      - name: Download blog posts artifact
        uses: actions/download-artifact@v7
        with:
          github-token: ${{ secrets.BLOG_POST_READER_TOKEN }}
          repository: wittionary/obsidian-vaults
          pattern: blog-posts*
          # path: wittallen-com/content/blog-test/
          run-id: ${{ steps.get-blog-posts-run.outputs.run_id }}

      - name: Extract blog posts
        run: |
          mkdir $GITHUB_WORKSPACE/wittallen-com/content/blog-test/
          tar -xzf blog-posts.tar.gz -C $GITHUB_WORKSPACE/wittallen-com/content/blog-test/

      - name: List contents
        run: ls -R content/blog-test/

      - name: zola-build
        uses: knzai/zola-cli@build
        with:
          root: wittallen-com
          force: true # The anemone theme dumps stuff there by default

      # SWA config is required at `output_location` - https://learn.microsoft.com/en-us/azure/static-web-apps/configuration#file-location
      - name: copy SWA config
        run: |
          cp "staticwebapp.config.json" "public/"

      - name: "Check File Existence"
        id: check_index
        uses: andstor/file-existence-action@v3
        with:
          files: "public/index.html, public/staticwebapp.config.json"
          fail: true

      # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
      - name: Azure SWA Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_THANKFUL_HILL_072F92210 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          app_location: "public/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "public/" # Built app content directory - optional
          skip_app_build: true

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_THANKFUL_HILL_072F92210 }}
          action: "close"
